@model Book_Show_Entity.BookShow
@{
    ViewData["Title"] = "DeleteBookShow";
}

<h1>DeleteBookShow</h1>

<form method="post" enctype="multipart/form-data">
    <h2>Delete Movie</h2><hr />
    <div class="form-group">
        <label>Movie Id</label>
        <input type="text" asp-for="BookShowId" class="form-control" placeholder="enter a movie name" required />
    </div>
    <hr />
    <input type="submit" value="Delete" class="btn btn-outline-success" />
    <input type="reset" value="Reset" class="btn btn-outline-secondary" />
    <hr />
    @if (ViewBag.status == "Ok")
    {
        <div class="alert alert-success">@ViewBag.message</div>
    }
    else if (ViewBag.status == "Error")
    {
        <div class="alert alert-danger">@ViewBag.message</div>
    }
</form>