@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="background-color:lightblue; height:max-content; width:800px"  >
    <h1 class="display-4" >Book<span style="color:red">MY</span>Show</h1>
    <form id="form">
        <input type="search" id="query" name="q" placeholder="Search..." style="width:500px">
        <button>Search</button>
    </form>
    
    <hr/>
    <div class="container container-fluid">
        
        <img src="~/charli.jpg"  height="250px" width="200px" />
        
        
            <img src="~/guru.jpg" height="250px" width="200px" />
       
     
            <img src="~/luckyman.jpg" height="250px" width="200px" />
        
       
            <img src="~/diya.jpg" height="250px" width="200px" />
        
        
            <img src="~/kate.jpg" height="250px" width="200px"/>
        
           
        </div>
    <hr />
    <div class="container container-fluid">
        <img src="~/download.jpg" height="250px" width="200px" />
        <img src="~/kgf.jpg" height="250px" width="200px" />
    </div>
    </div>
</div>
